@charset "ISO-8859-1";
body{

   
   /*  overflow-x: hidden;
    overflow-y: auto; */
    width: 100%;
	margin-left: 0 auto;
	overflow-x: hidden;
	overflow-y: auto;
	
	}


.sidebar {
  height: 100%;
    width: 156px;
    position: fixed;
  
    top: 114px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 0px;
}

.sidebar a {
  padding: 20px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.checkoutrow{
	margin-right: 32px;
	width:100%;
	margin-left: 455px;
	
}
.checkoutrow a{
	margin-left: 21px;
		margin-right:224px;
		paddimng:0px 0px 0px 0px;
	
}




/* Add padding to containers */
.containersh {
    /*  padding: 12px;
    width: auto;
    margin-left: 250px;
    margin-right: 546px;
    background-color: white;
    margin-top: -83px; */
    /* padding: 63px 10px 10px 150px;
    width: auto;
    margin-left: 207px;
    margin-right: 370px;
    background-color: #4d9cff;
    margin-top: -79px; */
     /*    padding: -5px 12px 6px 148px;
    width: auto;
    margin-left: 374px;
    margin-right: 369px;
    background-color: #4d9cff;
    margin-top: -27px; */
    width: 500px;
    /* margin-left: 374px; */
    /* margin-right: 369px; */
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #52c318;
    padding: 12px;
}
.rowsh {
	/* margin-right: 32px;
	width:100%;
	margin-left: 250px; */
	   /*  margin-right: 48px;
    width: 100%;
    margin-left: -29px; */
     width: auto;
  /*   float: left; */
    padding-top: 0px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}