<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>ProductsCategoryServlet</servlet-name>
    <servlet-class>com.myshop.ProductsCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsCategoryServlet</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductsListServlet</servlet-name>
    <servlet-class>com.myshop.ProductsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsListServlet</servlet-name>
    <url-pattern>/ProductsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.myshop.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.myshop.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCart.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fourth</servlet-name>
    <servlet-class>com.myshop.ProductDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fourth</servlet-name>
    <url-pattern>/ProductDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewCartServlet</servlet-name>
    <servlet-class>com.myshop.ViewCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCartServlet</servlet-name>
    <url-pattern>/ViewCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.myshop.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>com.myshop.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServletone</servlet-name>
    <servlet-class>com.myshop.LoginServletone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletone</servlet-name>
    <url-pattern>/LoginServletone</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductSaveServlet</servlet-name>
    <servlet-class>com.myshop.ProductSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSaveServlet</servlet-name>
    <url-pattern>/ProductSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewUserServlet</servlet-name>
    <servlet-class>com.myshop.NewUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUserServlet</servlet-name>
    <url-pattern>/NewUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShippingServlet</servlet-name>
    <servlet-class>com.myshop.ShippingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShippingServlet</servlet-name>
    <url-pattern>/ShippingServlet</url-pattern>
  </servlet-mapping>
</web-app>